<div class="container client-list-card" *ngIf="clientInfo">
    <div class="row client-card">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <a (click)="navigateToRoute('/clients')" class="btn btn-primary">Go Back</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
                        <div class="company-logo">
                            <img style="width: 100%;" [src]="clientInfo.picture.large" [alt]="clientInfo.name.first">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
                        <div class="client-detail">
                            <ul>
                                <li>
                                    <a class="position">{{clientInfo.name.title}} {{clientInfo.name.first}} {{clientInfo.name.last }}</a>
                                </li>

                                <li>
                                    <span class="client-detail__comptxt">{{clientInfo.location.street.number}}, {{clientInfo.location.street.name}}</span>
                                </li>

                                <li class="padding-right__1em"><b>City: </b>{{clientInfo.location.city}}</li>
                                <li class="padding-right__1em"><b>State: </b>{{clientInfo.location.state}}</li>
                                <li class="padding-right__1em"><b>Country: </b>{{clientInfo.location.country}}</li>
                                <li><b>PostCode: </b>{{clientInfo.location.postcode}}</li>
                                <li><b>Phone: </b>{{clientInfo.phone}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>